Nombre: {{ NOMBRE }} Apellido: {{ APELLIDO }}
Division: {{ DIVISION }}
Fecha: {{ FECHA }}
-----------------------------------------------
Distribucion:{{ ansible_facts.distribution }}
Cantidad de cores:{{ ansible_processor_cores }}
